<%- include("template/cabecera.ejs" , { tituloWeb: ' ~ ~ 404.ejs ~ ~'}) %>

<body>

<nav class="navbar navbar-dark bg-dark">
  <!-- Navbar content -->
</nav>
<%- include("template/navbar.ejs")%>

    <h1>EJS 404</h1>
    <h2>  <%= error  %>  </h2>

<%- include("template/footer.ejs")%>

</body>
</html>